:root {
    --blue: #13bae4;
    --lightblue: #9de3ff;
    --yellow: #fde38f;
    --darkyellow: #ffd562;
    --red: #ff8670;
    --dark: rgb(0, 10, 41);
 }

 body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, #ffd96f, #ff8670, #76d8ff) ;
    /* background-color: #ffc421; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
 }

 a {
    color: inherit;
    text-decoration: none;
 }

 .container {
    width: max-content;
    text-align: center;
    margin: 0 auto 50px;
    /* border: 2px solid red; */

    a>img {
        /* border: 2px solid blue; */
    }

    p {
       font-size: 1.2em;
       margin-bottom: 28px;
    }
 }

 h1 {
    font-size: 42px;
    margin: 20px;
    margin-top: 0;
 }

 .login-container {
    min-width: 350px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    display: inline-block;
    color: var(--dark);

    p {
       margin: 10px;
    }
 }

 h2 {
    color: #ff6347;
    margin-bottom: 20px;
 }

 input[type="text"],
 input[type="password"] {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #13bae4;
    border-radius: 5px;
    font-size: 1.2em;
 }

 button {
    background-color: #ff7962;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    margin: 10px;
 }

 button:hover {
    background-color: #ff5537;
 }

 .register-button {
    background-color: #13bae4;
 }

 .register-button:hover {
    background-color: #008aac;
 }

 .hover {
    transition: all 0.4s;
    z-index: 9;
 }

 .hover:hover {
    scale: 1.1;
 }